@font-face {
	font-family: 'TT Hoves';
	src: url('TTHoves-Bold.eot');
	src: local('TT Hoves Bold'), local('TTHoves-Bold'),
		 url('TTHoves-Bold.eot?#iefix') format('embedded-opentype'),
		 url('TTHoves-Bold.woff2') format('woff2'),
		 url('TTHoves-Bold.woff') format('woff'),
		 url('TTHoves-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'TT Hoves';
	src: url('TTHoves-Regular.eot');
	src: local('TT Hoves Regular'), local('TTHoves-Regular'),
		 url('TTHoves-Regular.eot?#iefix') format('embedded-opentype'),
		 url('TTHoves-Regular.woff2') format('woff2'),
		 url('TTHoves-Regular.woff') format('woff'),
		 url('TTHoves-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-Bold.eot');
    src: local('TT Norms Pro Bold'), local('TTNormsPro-Bold'),
        url('TTNormsPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTNormsPro-Bold.woff2') format('woff2'),
        url('TTNormsPro-Bold.woff') format('woff'),
        url('TTNormsPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-Regular.eot');
    src: local('TT Norms Pro Regular'), local('TTNormsPro-Regular'),
        url('TTNormsPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTNormsPro-Regular.woff2') format('woff2'),
        url('TTNormsPro-Regular.woff') format('woff'),
        url('TTNormsPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-Medium.eot');
    src: local('TT Norms Pro Medium'), local('TTNormsPro-Medium'),
        url('TTNormsPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTNormsPro-Medium.woff2') format('woff2'),
        url('TTNormsPro-Medium.woff') format('woff'),
        url('TTNormsPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


