.modal-dialog {
	max-width: 384px;
	background: #FFFFFF;
	box-shadow: 0px 0px 17.7465px rgba(0, 0, 0, 0.12);
	border-radius: 26px;

	.modal-content {
		border: none;
		background: #FFFFFF;
		border-radius: 26px;
		padding: 30px 42px 34px;
		position: relative;

		.modal-body {
			padding: 0;
		}

		.close {
			width: 60px;
			height: 70px;
			color: #00AC4E;
			position: absolute;
			top: -5px;
			right: 0;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.modal-body {
			padding-bottom: 0px;
		}

		.top-modal {
			text-align: center;
			margin-bottom: 10px;
			margin-top: -20px;

			img {
				margin-bottom: 10px;
			}

			.modal-name {
				font-weight: 500;
				font-size: 17.4636px;
				line-height: 22px;
				text-align: center;
				color: #000000;
				margin-right: 13px;
			}
		}

		.form {
			button {
				min-width: 143px;
				height: 45px;
				background: #00AC4E;
				border-radius: 5.91549px;
				border: none;
				padding: 0 20px;
				box-sizing: border-box;
				font-weight: 500;
				font-size: 14.1972px;
				line-height: 45px;
				text-align: center;
				color: #FFFFFF;
				display: block;
				margin: 12px auto;
			}

			.modal-txt {
				font-weight: normal;
				font-size: 12.2245px;
				line-height: 18px;
				text-align: center;
				color: #000000;
				margin-top: 12px;
				margin-bottom: 0;

				span {
					color: #00AC4E;
					cursor: pointer;
				}
			}

			.forgot_pass {
				font-weight: normal;
				font-size: 14.1972px;
				line-height: 17px;
				text-decoration-line: underline;
				color: #00AC4E;
				text-align: center;
				cursor: pointer;
			}

			.inpb {
				input {
					width: 100%;
					height: 50.64px;
					background: #FCFCFC;
					border: 0.873181px solid #EBEBEB;
					box-sizing: border-box;
					border-radius: 6px;
					padding: 0 20px 0 49px;
					font-weight: normal;
					font-size: 12.2245px;
					line-height: 56px;
					text-align: left;
					color: #C6C6C6;
					margin: 14px 0;
					background-repeat: no-repeat;
					background-position: 18px center;

					&.phone {
						background-image: url(/img/icons/pop-phone.svg);
					}

					&.pass {
						background-image: url(/img/icons/pop-kee.svg);
					}
				}
			}
		}
	}
}

.modal-reg {
	.check-block {
		margin-bottom: 38px;
		.line {
			display: flex;
			font-weight: normal;
			font-size: 11px;
			line-height: 14px;
			text-align: center;
			color: #C6C6C6;
			margin-bottom: 15px;

			label {
				margin-left: 15px;
			}

			input {
				position: relative;
				display: none;

				&:checked {
					~label {
						&:before {
							background: #00AC4E;
							border: 2px solid #FCFCFC;
						}
					}
				}

				~label {
					position: relative;
					margin-left: 30px;
					text-align: left;
					margin-bottom: 0;
					a{
						color: #00AC4E;
					}

					&:before {
						content: '';
						width: 15px;
						height: 15px;
						background: #FCFCFC;
						border-radius: 50%;
						border: 2px solid #EBEBEB;
						box-sizing: border-box;
						position: absolute;
						top: 0;
						left: -30px;
					}
				}
			}
		}
	}
}

.modal-big {
	width: 654px;
	max-width: 654px;

	.modal-content {
		padding: 40px 56px 27px;

		.booking-top {
			font-weight: 500;
			font-size: 24px;
			line-height: 18px;
			text-align: center;
			color: #000000;
			margin-bottom: 3px;
		}

		.form {
			.inpb {
				&.d-flex {
					input {
						width: 253px;
					}
				}

				input {
					padding-left: 17px;
					font-size: 14px;

					&.center {
						text-align: center;
					}
				}
			}

			.btn-big {
				height: 52px;
				line-height: 52px;
			}

		}
	}
}