.modal-dialog {
	max-width: 384px;
	background: #FFFFFF;
	box-shadow: 0px 0px 17.7465px rgba(0, 0, 0, 0.12);
	border-radius: 26px;

	.modal-content {
		border: none;
		background: #FFFFFF;
		border-radius: 26px;
		padding: 30px 42px 34px;
		position: relative;

		.modal-body {
			padding: 0;
		}

		.close {
			width: 60px;
			height: 70px;
			color: #00AC4E;
			position: absolute;
			top: -5px;
			right: 0;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.modal-body {
			padding-bottom: 0px;
		}

		.top-modal {
			text-align: center;
			margin-bottom: 10px;
			margin-top: -20px;

			img {
				margin-bottom: 10px;
			}

			.modal-name {
				font-weight: 500;
				font-size: 17.4636px;
				line-height: 22px;
				text-align: center;
				color: #000000;
				margin-right: 13px;
			}
		}

		.form {
			button {
				min-width: 143px;
				height: 45px;
				background: #00AC4E;
				border-radius: 5.91549px;
				border: none;
				padding: 0 20px;
				box-sizing: border-box;
				font-weight: 500;
				font-size: 14.1972px;
				line-height: 45px;
				text-align: center;
				color: #FFFFFF;
				display: block;
				margin: 12px auto;
			}

			.modal-txt {
				font-weight: normal;
				font-size: 12.2245px;
				line-height: 18px;
				text-align: center;
				color: #000000;
				margin-top: 12px;
				margin-bottom: 0;

				span {
					color: #00AC4E;
					cursor: pointer;
				}
			}

			.forgot_pass {
				font-weight: normal;
				font-size: 14.1972px;
				line-height: 17px;
				text-decoration-line: underline;
				color: #00AC4E;
				text-align: center;
				cursor: pointer;
			}

			.inpb {
				input {
					width: 100%;
					height: 50.64px;
					background: #f3f3f366;
					border: 0.8px solid #e8e8e869;
					box-sizing: border-box;
					border-radius: 6px;
					padding: 0 20px 0 49px;
					font-weight: normal;
					font-size: 12.2245px;
					line-height: 56px;
					text-align: left;
					color: #C6C6C6;
					margin: 14px 0;
					background-repeat: no-repeat;
					background-position: 18px center;

					&.phone {
						background-image: url(/Pirosmoney/img/icons/pop-phone.svg);
					}

					&.pass {
						background-image: url(/Pirosmoney/img/icons/pop-kee.svg);
					}

					&.mail {
						background-image: url(/Pirosmoney/img/icons/modal-mail-min.svg);
					}
				}
			}
		}
	}
}

.modal-reg {
	.check-block {
		margin-bottom: 38px;

		.line {
			display: flex;
			font-weight: normal;
			font-size: 11px;
			line-height: 14px;
			text-align: center;
			color: #C6C6C6;
			margin-bottom: 15px;

			label {
				margin-left: 15px;
			}

			input {
				position: relative;
				display: none;

				&:checked {
					~label {
						&:before {
							background: #00AC4E;
							border: 2px solid #FCFCFC;
						}
					}
				}

				~label {
					position: relative;
					margin-left: 30px;
					text-align: left;
					margin-bottom: 0;

					a {
						color: #00AC4E;
					}

					&:before {
						content: '';
						width: 15px;
						height: 15px;
						background: #FCFCFC;
						border-radius: 50%;
						border: 2px solid #EBEBEB;
						box-sizing: border-box;
						position: absolute;
						top: 0;
						left: -30px;
					}
				}
			}
		}
	}
}

.modal-booking {
	width: 654px;
	max-width: 654px;

	.modal-content {
		padding: 40px 56px 27px;

		.booking-top {
			font-weight: 500;
			font-size: 24px;
			line-height: 18px;
			text-align: center;
			color: #000000;
			margin-bottom: 3px;
		}

		.form {
			.inpb {
				&.d-flex {
					input {
						width: 253px;
					}
				}

				input {
					padding-left: 17px;
					font-size: 14px;

					&.center {
						text-align: center;
					}
				}
			}

			.btn-big {
				height: 52px;
				line-height: 52px;
			}

		}
	}
}

.modal-sub {
	min-width: 455px;

	.modal-content {
		.modal-body {
			.top-modal {
				margin-bottom: 20px;

				img {
					margin: 30px 10px 20px 10px;
				}

				.modal-name {
					font-size: 22.1657px;
					line-height: 125%;
					text-align: center;
					color: #000000;
				}
			}
		}
	}
}

.modal-check {
	.form {
		.inpb {
			&.digit {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 200px;
				margin: 0 auto;

				input {
					background: #FCFCFC;
					border: 1px solid #EBEBEB;
					box-sizing: border-box;
					border-radius: 5px;
					width: 33px;
					height: 47px;
					font-weight: 500;
					font-size: 24px;
					line-height: 16px;
					text-align: center;
					color: #000000;
					padding: 0;
				}

				span {
					width: 7px;
					height: 1px;
					background: #343E48;
					margin: 0 6px;
				}
			}
		}

		.send-check {
			text-align: center;

			&.active {
				button {
					background: #00AC4E;
				}

				span {
					color: #00AC4E;
				}

				b {
					display: none;
				}
			}

			span {
				font-weight: 500;
				font-size: 12px;
				line-height: 18px;
				text-align: center;
				text-decoration-line: underline;
				color: #BDBDBD;
			}

			b {
				font-weight: 500;
				font-size: 12px;
				line-height: 18px;
				text-align: center;
				color: #000000;
				margin-left: 10px;
			}

			button {
				margin-top: 30px;
				background: #E0E0E0;
			}
		}
	}
}

.modal-reviews {
	max-width: 418px !important;

	.modal-body {
		.rev-top {
			font-weight: 500;
			font-size: 20.0411px;
			line-height: 29px;
			color: #000000;
			margin-bottom: 16px;
		}

		.form {
			.line-rev {
				display: flex;
				align-items: center;

				&:last-of-type {
					align-items: flex-start;
				}

				.rating {
					line-height: 13px;

					span {
						background: url(/Pirosmoney/img/icons/star.svg);
						width: 13px;
						height: 13px;
						display: inline-block;

						&.active {
							background: url(/Pirosmoney/img/icons/star-green.svg);
						}
					}
				}

				b {
					font-weight: normal;
					font-size: 11px;
					line-height: 14px;
					color: #000000;
					width: 75px;
				}

				input {
					width: 177px !important;
					height: 33px !important;
					color: #000000;
					padding: 0 16px 0 10px !important;
				}

				textarea {
					width: 245px;
					height: 100px;
					padding: 10px 16px 0 10px;
					border: 1px solid #EBEBEB;
					font-weight: normal;
					font-size: 12px;
					line-height: 14px;
					color: #C6C6C6;
				}
			}

			.btn-big {
				margin: 25px auto 0;
			}
		}
	}
}

.modal-recovery {
	.btn-block-2 {
		display: flex;
		justify-content: center;

		.decline {
			font-weight: 500;
			color: #00AC4E !important;
			background: none !important;
		}
	}
}