body {
	font-family: 'TT Norms Pro';
	font-size: 16px;
	color: black;
}

*:focus {
	outline: -webkit-focus-ring-color auto 0px !important;
}

.swiper-pagination-bullet {
	background: #C4C4C4 !important;
	opacity: 1 !important;
	cursor: pointer;
}

.swiper-pagination-bullet-active {
	width: 30px !important;
	border-radius: 9px !important;
	background: white !important;
}

header {
	background: #FFFFFF;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
	position: relative;
	z-index: 9;

	.navbar-brand {
		margin-right: 38px;
	}

	nav {
		width: 100%;
		height: 100px;
	}

	.dropdown-menu {
		background: #FFFFFF;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
		border-radius: 12px;
		border: none;
		padding: 56px 0 0;
		position: relative;
		top: -17px;
		margin: 0;
		z-index: 0;

		.dropdown-item {
			font-size: 10.6604px;
			line-height: 13px;
			color: #333333;
			padding: 5px 20px 9px 26px;
			display: flex;
			align-items: center;

			span {
				margin-right: 8px;
				width: 20px;
				display: inline-block;
				text-align: center;
			}
		}
	}

	.navbar-light .navbar-nav {
		.nav-item {
			&.active {
				.nav-link {
					color: #00AC4E;
				}
			}

			&.dropdown {
				a {
					position: relative;
					z-index: 1;
				}
			}

			.nav-link {
				font-weight: 500;
				font-size: 18px;
				line-height: 22px;
				color: #333333;
				padding: 0 22px;

				&:hover {
					color: #00ac4e;
				}
			}
		}
	}

	.dropdown-toggle::after {
		display: none;
	}

	.menu-right {
		align-items: center;

		.menu-contact {
			margin-right: 35px;

			a {
				font-weight: 500;
				font-size: 18px;
				line-height: 21px;
				color: #000000;
				text-decoration: none;

				img {
					margin-right: 5px;
				}
			}
		}

		.menu-user {

			a,
			button {
				margin-left: 30px;
			}

			button {
				background: none;
				border: none;
				padding: 0;
			}
		}
	}
}

.home-banner {
	padding-top: 60px;
	padding-bottom: 25px;
	z-index: 0;
	position: relative;

	.swiper-container {
		width: 100%;
	}

	.block {
		width: 100%;
		background: linear-gradient(180deg, #F1F1FB 0%, #EBEBF5 100%);
		position: relative;
		box-shadow: 0px 0px 18.0727px rgba(0, 0, 0, 0.03);
		border-radius: 18.0727px;
		height: 254px;
		width: 100%;
		overflow: hidden;
		padding: 40px;

		img {
			position: absolute;
			top: 0;
			right: 0;
		}

		h2 {
			font-size: 31.6273px;
			line-height: 38px;
			color: #333333;
		}

		p {
			font-size: 19.88px;
			line-height: 24px;
			color: #828282;
		}

		a {
			font-size: 25.3018px;
			line-height: 50px;
			color: #FFFFFF;
			width: 218px;
			height: 53px;
			background: #00AC4E;
			border-radius: 5px;
			text-decoration: none;
			display: block;
			text-align: center;
			margin-top: 34px;
		}
	}
}

.home-menu {
	.container {

		.swiper-button-next:after,
		.swiper-container-rtl .swiper-button-prev:after {
			content: '';
			background-image: url(../img/icons/right-arrow.svg);
			width: 14px;
			height: 24px;
		}

		.swiper-button-prev {
			display: none;
		}

		.swiper-button-prev,
		.swiper-container-rtl .swiper-button-next {
			left: 0px;
		}

		.swiper-button-next,
		.swiper-container-rtl .swiper-button-prev {
			right: 0;
			justify-content: flex-end;
			background: white;
		}

		.swiper-button-next.swiper-button-disabled,
		.swiper-button-prev.swiper-button-disabled {
			display: none;
		}

		.swiper-container-menu {
			position: relative;
			overflow: hidden;
			left: -16px;
			width: calc(100% + 16px);

			a {
				font-family: 'TT Hoves';
				font-size: 23.3333px;
				line-height: 27px;
				color: #4F4F4F;
				text-decoration: none;
				text-transform: uppercase;
				width: auto !important;
				padding: 8px 16px;

				&.active {

					color: white;
					background: #00AC4E;
					border-radius: 5px;
				}
			}
		}
	}
}

.home-products {
	padding-top: 24px;
	padding-bottom: 60px;

	h3.all_products {
		margin-bottom: 35px;
	}

	.row {
		flex-direction: column;
	}

	.products-wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.product {
			width: 205px;
			margin-bottom: 56px;

			.img {
				background-image: url(..../img/productbg.png);
				background-color: #E6E6E6;
				background-position: center;
				background-repeat: no-repeat;
				border-radius: 4.52641px;
				height: 125px;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
				}
			}

			.title {
				margin: 9px 0 5px;
				font-weight: 500;
				display: block;
				font-size: 14.4845px;
				line-height: 22px;
				color: #000000;
				font-size: 14.4845px;
			}

			.description {
				font-weight: normal;
				font-size: 12.674px;
				line-height: 19px;
				color: #000000;
				margin-bottom: 8px;
			}


			.rating {
				span {
					background: url(..../img/icons/star.svg);
					width: 13px;
					height: 13px;
					display: inline-block;

					&.active {
						background: url(..../img/icons/star-green.svg);
					}
				}
			}

			.price {
				b {
					font-size: 18.1056px;
					line-height: 23px;
					color: #000000;
					margin-right: 18px;
				}

				span {
					font-size: 12.674px;
					line-height: 23px;
					color: #828282;
				}
			}

			a.to-curt {
				margin-top: 13px;
				width: 140px;
				background: #00AC4E;
				border-radius: 4.52641px;
				line-height: 38px;
				text-align: center;
				font-size: 18.1056px;
				display: inline-block;
				color: #FFFFFF;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.pagination-block {
		display: flex;
		justify-content: center;
		margin-top: -7px;

		ul {
			margin-bottom: 0;

			li {
				a {
					font-weight: 500;
					font-size: 20px;
					line-height: 25px;
					color: #000000;
					width: 41px;
					height: 41px;
					border-radius: 5px;
					text-align: center;
					background-color: none;
					border: 0px solid #dee2e6;
					display: flex;
					justify-content: center;
					align-items: center;
				}

				&.active {
					a {
						background: #00AC4E;
						color: white;
						margin: 0 10px;
					}
				}
			}
		}
	}
}

.home-video {
	.video1440 {
		width: 1440px;
		margin: 0 auto;
		background-image: url(../img/videobg.jpg);
		background-size: cover;

		.embed-responsive {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 648px;
		}

		.play_yt {
			position: relative;
			cursor: pointer;
		}
	}
}

.delivery {
	padding: 60px 0;

	.block {
		height: 254px;
		width: 100%;
		background: #F2F2F2;
		box-shadow: 0px 0px 18.0727px rgba(0, 0, 0, 0.03);
		border-radius: 18.0727px;
		padding: 30px 0 30px 40px;
		background-image: url(../img/bus.png);
		background-position: center right;
		background-repeat: no-repeat;

		.title {
			font-weight: normal;
			font-size: 31.6273px;
			line-height: 38px;
			width: 600px;
			color: #333333;
		}

		a {
			font-weight: 500;
			font-size: 25.3018px;
			color: #FFFFFF;
			width: 170px;
			line-height: 53px;
			background: #00AC4E;
			border-radius: 5px;
			text-decoration: none;
			display: block;
			text-align: center;
			margin-top: 34px;
		}
	}
}

footer {
	background: #00AC4E;
	padding: 34px 0;
	color: #FFFFFF;

	a {
		color: #FFFFFF;

		&:hover {
			text-decoration: none;
			color: #FFFFFF;
		}
	}

	.footer-wrapper {
		display: flex;
		justify-content: space-between;

		.footer-left {
			.phones {
				display: flex;
				justify-content: space-between;

				.phone-item {
					display: flex;
					flex-direction: column;
					margin-right: 30px;

					&:last-child {
						margin-right: 0px;
					}

					span {
						font-weight: 400;
						font-size: 12.3407px;
						line-height: 32px;
					}

					a {
						font-weight: 500;
						font-size: 18.511px;
						line-height: 39px;

						&:hover {
							text-decoration: none;
						}
					}
				}
			}

			.work-time {
				font-weight: 400;
				font-size: 15.4259px;
				line-height: 32px;
				margin: 10px 0;
			}

			.work-email {
				display: flex;
				flex-direction: column;

				a {
					font-weight: 400;
					font-size: 18.511px;
					line-height: 32px;
				}

				a.site-help {
					font-weight: 500;
					font-size: 18px;
					line-height: 22px;
					text-decoration-line: underline;
					margin-top: 15px;
				}
			}
		}

		.footer-center {
			.social {
				display: flex;
				flex-direction: column;

				a {
					font-weight: 500;
					font-size: 15.4259px;
					line-height: 32px;
					letter-spacing: 3.08517px;
					font-variant: small-caps;
					text-transform: uppercase;
					margin-bottom: 26px;
				}
			}
		}

		.footer-right {
			.person {
				a {
					display: flex;
					align-items: center;
					font-weight: 500;
					font-size: 15.4259px;
					line-height: 32px;

					img {
						margin-right: 7px;
					}
				}
			}
		}
	}

	.footer-bottom {
		font-family: TT "Hoves";
		margin-top: 9px;
		font-weight: normal;
		font-size: 12.3407px;
		line-height: 32px;

		a {
			font-weight: normal;
			font-size: 12.3407px;
			line-height: 32px;
			margin-left: 33px;
		}
	}
}

.green_btn {
	background: #00AC4E;
	border-radius: 7px;
	font-weight: 500;
	font-size: 20px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 14px 38px;

	&:hover {
		text-decoration: none;
		color: white;
	}
}

.default_btn {
	border-radius: 7px;
	font-style: normal;
	font-weight: normal;
	font-size: 22.2162px;
	line-height: 29px;
	text-align: center;
	color: #00AC4E;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		margin-left: 9px;
		position: relative;
		top: 1px;
	}

	&:hover {
		text-decoration: none;
		color: #00AC4E;
	}
}

.page-content {

	.container {
		padding: 45px 0 60px;

		h1 {
			font-weight: 500;
			font-size: 28px;
			line-height: 33px;
			color: #000000;
			margin-bottom: 25px;
		}

		h2 {
			font-weight: 500;
			font-size: 24px;
			line-height: 29px;
			color: #000000;
			margin-bottom: 25px;
			margin-top: 10px;
		}

		p {
			font-weight: normal;
			font-size: 22px;
			line-height: 26px;
			color: #828282;

			span {
				font-weight: 500;
				color: #000000;
			}
		}
	}
}

.form-support {
	width: 672px;

	textarea {
		font-family: 'TT Hoves';
		background: #F9F9F9;
		border-radius: 5px;
		border: none;
		height: 174px;
		width: 100%;
		padding: 20px;
		font-weight: normal;
		font-size: 20px;
		line-height: 21px;
		color: #BDBDBD;
		margin-bottom: 35px;
	}

	button {
		width: 190px;
		height: 60px;
		background: #00AC4E;
		border-radius: 8px;
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		font-weight: 500;
		font-size: 18.7606px;
		line-height: 24px;
		text-align: center;
		color: #FFFFFF;
		border: none;
	}
}

.card-product {
	padding: 60px 0;

	.card-top {
		display: flex;
		justify-content: space-between;

		.card-img {
			width: 67%;
			height: 427px;
			background: #F9F9F9;
			border-radius: 15px;
			background-image: url(../img/card-bg.png);
			background-position: center;
			background-repeat: no-repeat;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.card-sidebar {
			width: 30%;
			background: #FFFFFF;
			box-shadow: 0px 0px 27.1091px rgba(0, 0, 0, 0.06);
			border-radius: 15px;
			padding: 30px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.title {
				font-weight: 500;
				font-size: 18.0727px;
				line-height: 23px;
				color: #000000;
				margin-bottom: -20px;
			}

			.rating {
				margin-bottom: -16px;

				span {
					background: url(..../img/icons/star.svg);
					width: 13px;
					height: 13px;
					display: inline-block;

					&.active {
						background: url(..../img/icons/star-green.svg);
					}
				}
			}

			.reviews {
				font-weight: normal;
				font-size: 12.6509px;
				line-height: 19px;
				color: #C6C6C6;
			}

			.price {
				display: flex;
				justify-content: space-between;
				align-items: center;

				span {
					font-weight: 500;
					font-size: 14.4582px;
					line-height: 22px;
					color: #C6C6C6;
				}

				b {
					font-weight: 500;
					font-size: 18.0727px;
					line-height: 23px;
					color: #000000;
				}

				.imput_range {
					width: 116.57px;
					height: 42.47px;
					background: #FCFCFC;
					border: 0.903636px solid #EBEBEB;
					box-sizing: border-box;
					border-radius: 9.03636px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					text-align: center;
					font-weight: normal;
					font-size: 12.6509px;
					line-height: 19px;
					color: #000000;
					position: relative;

					&:after {
						content: attr(data-desc);
						position: absolute;
						bottom: -18px;
						right: 0;
						font-weight: normal;
						font-size: 9.03636px;
						line-height: 14px;
						color: #C6C6C6;
					}

					span.button {
						width: 32%;
						text-align: center;
						cursor: pointer;
					}

					input {
						width: 36%;
						text-align: center;
						border: none;
						background: none;
						font-size: 12.6509px;
						line-height: 19px;
						color: #000000;
					}
				}
			}

			.to-pay {
				margin-bottom: 12px;
				margin-top: 10px;
				display: flex;
				justify-content: space-between;
				align-items: center;

				span {
					font-weight: 500;
					font-size: 14.4582px;
					line-height: 22px;
					color: #000000;
				}

				b {
					font-weight: 500;
					font-size: 18.0727px;
					line-height: 23px;
					color: #00AC4E;
				}
			}

			.pay-block {
				display: flex;
				justify-content: space-between;

				.pay-popup {
					width: 215px;
					height: 49px;
					background: #00AC4E;
					border-radius: 5px;
					display: flex;
					justify-content: center;
					align-items: center;
					font-weight: 500;
					font-size: 18.0727px;
					line-height: 23px;
					color: #FFFFFF;
					border: none;
				}

				.cart-add {
					border: none;
					background-image: url(../img/icons/shopping-cart2.svg);
					background-position: center;
					background-repeat: no-repeat;
					width: 49px;
					height: 49px;
					background-color: #00AC4E;
					border-radius: 4.5px;
				}
			}
		}
	}

	.card-bottom {
		margin-top: 60px;
		display: flex;
		justify-content: space-between;

		.card-info {
			width: 67%;

			.nav-tabs {
				display: flex;
				justify-content: space-between;
				border-bottom: 0px solid #dee2e6;
				padding-right: 35px;
				margin-bottom: 40px;

				.nav-link {
					font-weight: normal;
					font-size: 29px;
					line-height: 19px;
					color: #828282;
					border: 0px solid transparent;
					padding: 0;

					&.active {
						font-weight: 500;
						font-size: 29px;
						line-height: 19px;
						color: #00AC4E;
					}
				}
			}

			.tab-content {
				>.tab-pane {
					padding: 0;
					position: relative;

					.product_ul {
						margin: 0;
						padding: 0;

						li {
							list-style: none;
							list-style: normal;
							font-size: 18px;
							line-height: 36px;
							color: #828282;

							b {
								font-weight: 500;
							}
						}
					}

					h2.tab {
						font-weight: 500;
						font-size: 22px;
						line-height: 19px;
						color: #000000;
					}

					p {
						font-weight: normal;
						font-size: 18px;
						line-height: 19px;
						color: #828282;
						padding-right: 35px;
					}

					.silder-reviwes {
						position: relative;
						overflow: hidden;
						padding-right: 77px;

						&:before {
							width: 77px;
							height: 100%;
							position: absolute;
							top: 0;
							right: 0;
							content: '';
							background: white;
							z-index: 9;

						}


						.swiper-button-next {
							font-weight: 500;
							font-size: 14px;
							line-height: 16px;
							color: #00AC4E;
							padding-right: 5px;

							span {
								margin-left: 5px;
							}

							&:after {
								content: '';
							}
						}



						.swiper-wrapper {
							justify-content: flex-start;

							.swiper-slide {
								background: rgb(242, 242, 242, 75%);
								border-radius: 11.1818px;
								padding: 15px;

								.rev_header {
									display: flex;

									.avatar {
										width: 50px;
										height: 50px;
										margin-right: 5px;

										img {
											width: 100%;
											height: 100%;
											border-radius: 50%;
											border: 1px soli #F2C94C;
										}
									}

									.rev_avatar {
										display: flex;
										flex-direction: column;

										.rev_name {
											font-weight: 500;
											font-size: 14px;
											line-height: 17px;
											color: #000000;
										}

										.rating {
											display: flex;

											span {
												background: url(..../img/icons/star.svg);
												width: 12px;
												height: 12px;
												background-size: cover;

												&.active {
													background: url(..../img/icons/star-green.svg);
													background-size: cover;
												}
											}
										}

										.rev_social {
											font-weight: normal;
											font-size: 11px;
											line-height: 13px;
											text-decoration-line: underline;
											color: #2D9CDB;
										}
									}
								}

								.rev_footer {
									p {
										font-weight: normal;
										font-size: 12px;
										line-height: 12px;
										color: #000000;
									}

									a {
										font-weight: 500;
										font-size: 12px;
										line-height: 14px;
										text-decoration-line: underline;
										color: #00AC4E;
									}
								}
							}
						}
					}
				}
			}
		}

		.card-sidebar {
			width: 30%;
			background: #FFFFFF;
			box-shadow: 0px 0px 27.1091px rgba(0, 0, 0, 0.06);
			border-radius: 15px;
			padding: 30px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.title {
				font-weight: normal;
				font-size: 14.5089px;
				line-height: 17px;
				color: #000000;
			}

			.line {
				font-weight: 500;
				font-size: 14.5089px;
				line-height: 17px;
				color: #000000;
				margin-top: 20px;
				display: flex;
				align-items: center;

				img {
					margin-right: 15px;
				}
			}

			.range-slide {
				margin-top: 32px;
				margin-left: 15px;
				margin-right: 39px;

				.range-text {
					font-weight: normal;
					font-size: 10px;
					line-height: 10px;
					color: #000000;
					text-align: center;
					margin-top: 10px;
				}

				.range-line {
					width: 100%;
					height: 3px;
					background: #F2F2F2;
					border-radius: 2.28221px;
					position: relative;

					&:before {
						content: attr(data-mins);
						font-weight: 500;
						font-size: 10.8817px;
						line-height: 13px;
						color: #000000;
						position: absolute;
						top: -5px;
						left: -15px;
					}

					&:after {
						content: attr(data-maxs);
						font-weight: 500;
						font-size: 10.8817px;
						line-height: 13px;
						color: #000000;
						position: absolute;
						top: -5px;
						right: -39px;
					}

					.green-line {
						position: absolute;
						top: 0;
						left: 0;
						background: #00AC4E;
						border-radius: 3px;
						height: 100%;
					}

					.round {
						width: 12px;
						height: 12px;
						background: #00AC4E;
						border: 2px solid #FFFFFF;
						box-sizing: border-box;
						border-radius: 50%;
						position: absolute;
						top: -4px;
						left: 33%;
						transform: translateX(-50%);

						&:before {
							content: attr(data-min);
							font-weight: 500;
							font-size: 11px;
							line-height: 13px;
							color: #000000;
							position: absolute;
							top: -20px;
							left: 0;
							width: 200px;
							transform: translateX(-23%);
						}
					}
				}
			}
		}
	}
}

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
@import "modal.scss";